@import "../fonts";

.ltx_authors {
  @include font-body();

  margin-bottom: 1em;

  .ltx_personname {
    font-weight: bold;

    // In case of multiple notes per author, separate them with comma.
    .ltx_note_mark:not(:last-child):after {
      content: ",";
    }

  }

  // No spaces between authors
  .ltx_author_before {
    display: none;
  }

  .ltx_creator,
  .ltx_author_after,
  .ltx_author_notes,
  .ltx_author_notes .ltx_contact {
    display: block;
  }
}
