@import "../fonts";

.ltx_note {
  position: relative;

  .ltx_note_outer {
    @include font-sans();

    float: right;
    clear: right;
    position: relative;
    width: 200px;
    margin-right: -216px;
    margin-top: -1em;
    padding: 2em 0;
    text-indent: 0;

    // .ltx_note_mark and .ltx_tag normally display the same thing, except
    // sometimes just .ltx_note_mark exists, so use that to make the footnote
    // heading
    .ltx_note_mark {
      display: block;
      vertical-align: inherit;
      font-size: inherit;
    }

    .ltx_tag {
      display: none;
    }

    display: none;

    @include media(">=desktop") {
      display: block;
    }
  }
}
