.ltx_p {
  @include font-body();
  margin: 0;
}

// This doesn't quite work right - sometimes things in previous .ltx_para
// are not text, but a quote or equation or figure or something like that.
.ltx_para + .ltx_para > .ltx_p {
  text-indent: 2em;
}
