@import "../fonts";

.ltx_title_subsection {
  @include font-heading-small();

  margin-bottom: 1.5em;

  @include media(">=tablet") {
    margin: 3em 0;
  }

  .ltx_tag_subsection {
    display: inline-block;
    min-width: 50px;
  }
}
