@import "../colors";

.ltx_framed {
  border: 1px solid $borderColor;
}
.ltx_framed_rectangle {
  border-style: solid;
  border-width: 1px;
}
.ltx_framed_top {
  border-top-style: solid;
  border-top-width: 1px;
}
.ltx_framed_left {
  border-left-style: solid;
  border-left-width: 1px;
}
.ltx_framed_right {
  border-right-style: solid;
  border-right-width: 1px;
}
.ltx_framed_bottom,
.ltx_framed_underline {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.ltx_framed_topbottom {
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.ltx_framed_leftright {
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
}
