@import "../fonts";
@import "../media";

.ltx_bibliography {
  margin: 4em 0;

  .ltx_title_bibliography {
    @include font-heading();

    margin: 0 0 2em 0;
  }

  .ltx_biblist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ltx_bibitem {
    @include font-body();

    // HACK: https://github.com/arxiv-vanity/engrafo/issues/250
    * {
      font-size: inherit !important;
    }

    margin: 0 0 2em 0;

    .ltx_tag_bibitem + .ltx_bibblock {
      font-style: italic;
    }
  }
}
