@import "../media";

.ltx_document {
  background: white;
  margin-top: 4em;
  margin-bottom: 4em;

  width: auto;
  margin-left: 8px;
  margin-right: 8px;
  box-sizing: border-box;

  @include media(">=tablet", "<desktop") {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(">=desktop") {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

    // Everything is 700px wide
    & > *,
    & section > * {
      width: 700px;
    }

    // ... except sections, because they can contain other stuff which might
    // be wider than 700px
    & > section,
    & section > section {
      width: 900px;
    }

    // ... and except the stuff we actually want to be wider than 700px
    .ltx_biblist,
    .ltx_figure,
    .ltx_listing,
    .ltx_title {
      width: 900px;
    }
  }
}
