@import "../media";

.ltx_document {
  background: white;
  margin-top: 4em;
  margin-bottom: 4em;

  width: auto;
  margin-left: 8px;
  margin-right: 8px;
  box-sizing: border-box;

  @include media(">=tablet", "<desktop") {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(">=desktop") {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

    // Everything is 700px wide
    & > *,
    & section > * {
      width: 700px;
    }

    // ... except sections, because they can contain other stuff which might
    // be wider than 700px
    & > section,
    & section > section {
      width: 900px;
    }

    // ... and except the stuff we actually want to be wider than 700px
    .ltx_biblist,
    .ltx_figure,
    .ltx_engrafo_equation_container,
    .ltx_listing,
    .ltx_table,
    .ltx_title {
      width: 900px;
    }

    // Subfigures contain .ltx_figure, which we don't want to be wider than 700px
    .ltx_subfigure .ltx_figure {
      width: auto;
    }
  }

  // FIXME: These are set by various things and come from ltx:note in the frontmatter.
  // There is a journal one in the 1803.07574 integration test. acmart.cls also has them
  // (e.g. 1806.07527)
  // Maybe we should figure out the right thing to do with them? For now, just hide.
  & > .ltx_note {
    display: none;
  }
}
