@import "../fonts";
@import "../media";

.ltx_title_chapter {
  font-family: $fontFamilyComputerModern;
  font-weight: normal;
  margin: 2em 0;
  max-width: 13em; // TODO: put this in grid?

  font-size: 20px !important;
  line-height: 1.1;

  @include media("<huge", ">=tablet") {
    font-size: 30px !important;
    min-height: 2em;
  }
  @include media(">=huge") {
    font-size: 40px !important;
    min-height: 2em;
  }

  .ltx_tag_chapter {
    display: block;
    margin-bottom: 1em;
  }
}
