@import "../fonts";
@import "../media";

.ltx_title_document {
  font-family: $fontFamilyComputerModern;
  font-weight: normal;
  margin: 1em 0 2em 0;

  font-size: 30px !important;
  line-height: 1.1;

  @include media("<desktop", ">=tablet") {
    font-size: 40px !important;
    min-height: 2em;
  }
  @include media("<huge", ">=desktop") {
    font-size: 50px !important;
    min-height: 2em;
  }
  @include media(">=huge") {
    font-size: 60px !important;
    min-height: 2em;
  }
}
