@import "../colors";

.ltx_cite {
  font-style: normal;

  // 1512.03385 changes size of citations so also apply to children.
  // Need a general solution to this. https://github.com/arxiv-vanity/engrafo/issues/250
  &,
  * {
    font-size: inherit !important;
  }

  a.ltx_ref.engrafo_not_a_link,
  a.ltx_ref.engrafo_not_a_link:hover {
    border-bottom: 0;
    text-decoration: none;
    cursor: inherit;
  }

  // Combined tooltip progressive enhancement
  &.ltx_engrafo_tooltip {
    color: $linkColor;

    a.ltx_ref,
    a.ltx_ref:hover {
      cursor: inherit;
    }
  }
}
