.ltx_cite {
  @extend %system-font;

  font-style: normal;
  text-align: center;
  position: relative;
  top: -2px;
  margin: 0 2px;
  color: $linkColor;

  a.ltx_ref,
  a.ltx_ref:hover {
    border-bottom: 0;
  }
}

.tippy-tooltip.engrafo-theme {
  @extend %system-font;

  background-color: $secondaryBackground;
  border: 1px solid $borderColor;
  color: #333;

  .tippy-arrow {
    border-top-color: $secondaryBackground;
  }
}

.tippy-popper[x-placement^="right"] .tippy-tooltip.engrafo-theme .tippy-arrow {
  border-right: 7px solid $borderColor;
}

.tippy-popper[x-placement^="left"] .tippy-tooltip.engrafo-theme .tippy-arrow {
  border-left: 7px solid $borderColor;
}

.tippy-popper[x-placement^="top"] .tippy-tooltip.engrafo-theme .tippy-arrow {
  border-top: 7px solid $borderColor;
}

.tippy-popper[x-placement^="bottom"] .tippy-tooltip.engrafo-theme .tippy-arrow {
  border-bottom: 7px solid $borderColor;
}
