%body-font {
  font-family: $bodyFontFamily;
  font-size: 17px;
  line-height: 1.55em;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

%system-font {
  font-family: $systemFontFamily;
  font-size: 14px;
  line-height: 1.55em;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

%system-font-small {
  font-family: $systemFontFamily;
  font-size: 12px;
  line-height: 1.55em;

  @media (min-width: 768px) {
    font-size: 13px;
  }
}
