// <h1>
.ltx_title_document {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 1em;
  font-family: $headingFontFamily;

  @media (min-width: 768px) {
    font-size: 46px;
    margin-top: 48px;
  }

  @media (min-width: 1080px) {
    font-size: 50px;
    letter-spacing: -0.02em;
  }
}

// Various things in header
.ltx_subtitle {
  font-family: $headingFontFamily;
  font-size: 20px;
  margin-bottom: 2rem;

  @media (min-width: 1080px) {
    font-size: 24px;
  }
}

// <h2>
.ltx_title_section,
.ltx_title_abstract,
.ltx_title_appendix,
.ltx_title_bibliography {
  font-family: $headingFontFamily;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.25em;
  margin-top: 36px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-top: 48px;
    font-size: 32px;
  }
}

// <h3>
.ltx_title_subsection {
  font-family: $headingFontFamily;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4em;
  margin-top: 36px;
  margin-bottom: 18px;
  font-style: italic;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

// <h4>
// Bold, same size as body text, but on its own line.
.ltx_title_subsubsection {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;

  // No section numbers
  .ltx_tag {
    display: none;
  }
}

// <h5>/<h6>
// Bold, same size as body text, but in-line with the text. Like:
// *Some heading.* A paragraph following it.
.ltx_title_paragraph,
.ltx_title_subparagraph {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  // 0.75em is around the size of two spaces.
  margin-right: 0.75em;
  float: left;
}

// Section numbers
.ltx_title_section,
.ltx_title_abstract,
.ltx_title_appendix,
.ltx_title_bibliography,
.ltx_title_subsection {
  position: relative;
  /* Space for section number */
  padding-right: 40px;

  @media (min-width: 768px) {
    padding-right: 0;
  }
}

.ltx_tag_section,
.ltx_tag_subsection {
  font-family: $headingFontFamily;
  font-style: normal;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 150px;
  right: 0;
  text-align: right;
  font-size: 0.9em;

  @media (min-width: 768px) {
    right: unset;
    left: -170px;
  }
  @media (min-width: 1080px) {
    right: unset;
    left: -180px;
  }

  a,
  a:active {
    border-bottom: none;
  }

  a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
