// .ltx_document is root element. sections and appendix are children,
// which then have a sub-grid inside.
.ltx_document,
.ltx_section,
.ltx_subsection,
.ltx_subsubsection,
.ltx_appendix,
.ltx_page_footer {
  display: grid;
  grid-template-columns: [screen-start] 8px [page-start text-start] 1fr [page-end text-end] 8px [screen-end];
  grid-column-gap: 8px;

  @media (min-width: 768px) {
    grid-template-columns: [screen-start] 1fr [page-start text-start] 650px [page-end text-end] 1fr [screen-end];
    grid-column-gap: 16px;
  }

  @media (min-width: 1080px) {
    grid-template-columns: [screen-start] 1fr [page-start text-start] 650px [text-end gutter-start] 330px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 16px;
  }

  // By default, everything is the text column
  & > * {
    grid-column: text;
  }

  & > .ltx_title,
  & > .ltx_figure {
    grid-column: page;
  }
}

// Reset sections and appendix back to screen so sub-grid inside is same size as
// parent.
.ltx_section,
.ltx_subsection,
.ltx_subsubsection,
.ltx_appendix {
  grid-column: screen;
}
