<!DOCTYPE html>
<html lang="$lang$">
<head>
  <meta charset="utf-8">
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <style type="text/css">
      code{white-space: pre-wrap;}
      .smallcaps{font-variant: small-caps;}
      .line-block{white-space: pre-line;}
$if(quotes)$
      q { quotes: "“" "”" "‘" "’"; }
$endif$
  </style>
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
<dt-article>
$for(include-before)$
$include-before$
$endfor$
$if(title)$
<h1>$title$</h1>
$else$
<h1>Untitled</h1>
$endif$
<div class="engrafo-metadata">
  <div class="authors">
  $for(author)$
    <div class="author">$author$</div>
  $endfor$
  </div>
  <div class="engrafo-metadata-custom"></div>
</div>
$body$
$for(include-after)$
$include-after$
$endfor$
</dt-article>
<dt-appendix></dt-appendix>
</body>
</html>
